<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="conncat.conncat">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".addEvent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewEvent"
            android:label="@string/title_activity_view_event"
            android:parentActivityName=".MainScreen"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="conncat.conncat.MainScreen" />
        </activity>
        <activity
            android:name=".catActivity"
            android:label="@string/title_activity_cat"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".editEvent"
            android:label="@string/title_activity_edit_event"
            android:parentActivityName=".viewEvent"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="conncat.conncat.viewEvent" />
        </activity>
    </application>

</manifest>